<div class="user-info" *ngIf="this.githubUserProfile">
  <div class="user-info--divider"></div>
  <div class="user-info__profile">
    <div class="user-info__profile__avatar">
      <a class="user-info__profile__avatar__link">
        <img  class="user-info__profile__avatar__link__img" src="{{this.githubUserProfile?.avatar_url}}">
      </a>
    </div>
    <div class="user-info__profile__info">
      <div class="user-info__profile__info__title">
        <a href="{{this.githubUserProfile?.html_url}}" class="user-info__profile__info__title__name">{{this.githubUserProfile?.name}}</a>
        <a href="{{this.githubUserProfile?.html_url}}" class="user-info__profile__info__title__login">{{this.githubUserProfile?.login}}</a>
      </div>
      <p class="user-info__profile__info__bio">
        {{this.githubUserProfile?.bio}}
      </p>
      <div class="user-info__profile__info__contact">
        <span [ngClass]="{'user-info__profile__info__contact__location': this.githubUserProfile.location }">
          {{this.githubUserProfile?.location}}
        </span>
        <span>
          {{this.githubUserProfile?.email}}
        </span>
      </div>
    </div>
  </div>
</div>
