<div class="area-container">
  <div class="area-container__header">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="https://github.com/">
        <img src="assets/GitHub-Mark-Light-120px-plus.png" width="30" height="30" alt="" loading="lazy">
      </a>
    </nav>
  </div>
  <div class="area-container__main">
    <router-outlet></router-outlet>
  </div>
  <div class="area-container__footer">
    <div class="area-container__footer--divider">
    </div>
    <div class="area-container__footer__content">
      <img src="assets/GitHub-Mark-120px-plus.png" width="30" height="30" alt="" loading="lazy">
    </div>
  </div>
</div>